Assignment_2/local_Module_B
Assignment_2/local_Module_A
Assignment_2/Module_A/database/__pycache__
Database_temp
**/.DS_Store
**/.env
**/*.log
Assignment_2/Module_B/.DS_Store
Assignment_2/Module_B/backend/uploads/
Assignment_3/Module_A/database/__pycache__
Assignment_3/Module_A/tests/__pycache__